@import 'null.scss';

#app {
  overflow: auto;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 30px 15px;
  min-width: 320px;
  max-width: 767px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 60px 69px;
    min-width: 767px;
    max-width: 767px;
  }

  @media (min-width: 1440px) {
    padding: 60px 122px;
    min-width: 1440px;
    max-width: 1440px;
  }
}

.h3 {
  font-family: "Jura", serif;
  font-size: 24px;

  @media (min-width: 768px) {
    font-size: 32px;
  }

  @media (min-width: 1440px) {
    font-size: 41px;
  }
}

.h4 {
  font-family: "Jura", serif;
  font-size: 18px;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

.p_hg {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: 16px;
  }

  @media (min-width: 1440px) {
    font-size: 19px;
  }
}

.p_md {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;

  @media (min-width: 768px) {
    font-size: 15px;
  }
}

.p_sm {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.icon24 {
  width: 24px;
  height: 24px;
}

.icon20 {
  width: 20px;
  height: 20px;
}

.icon36 {
  width: 36px;
  height: 36px;
}

.icon46 {
  width: 46px;
  height: 46px;
}

.fill-none {
  fill: none;
}

.fill-white {
  fill: $white;
}

.fill-gray {
  fill: $gray-light;
}

.stroke-white {
  stroke: $white;
}