@mixin icon40 {
  width: 40px;
  height: 40px;
}

@mixin icon30 {
  width: 30px;
  height: 30px;
}

@mixin icon26 {
  width: 26px;
  height: 26px;
}

@mixin icon16 {
  width: 16px;
  height: 16px;
}

@mixin logo100{
  width: 100px;
  height: 24px;
}

@mixin logo146{
  width: 146px;
  height: 35px;
}

