$white: #ffffff;
$red: #EF0505;
$red-active: #C80000;
$red-light: #FF3232;
$gray: #828282;
$gray-light: #ADACAC;
$gray-label: #4F4F4F;
$gray-disable: #E0E0E0;
$black-input: #333333;
$green: #27AE60;
$background-dark: #272727;
$background-light: #373737;
$header-bg: rgba(0 0 0 / 80%);
$sidebar-bg: rgba(0 0 0 / 60%);
$header-bg-light: rgba(33 33 33 / 80%);